 p{
        margin: 10px 10px 10px 10px;
      }
      p{
        margin: 10px 20px;
      }
      /* padding */
      p{
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 10px;
          padding-right: 10px;
        }
        /*shorthand */
         p{
        padding: 10px;
      }